#teaser .imglink {
  text-decoration: none;
}

#teaser .imglink img {
  border: 0;
  vertical-align: middle;
}

p.go-to-gallery {
  font-size: 3em;
  line-height: 2;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0;
}

p.mn-other-pages {
  margin: 0 0 0.5em;
}

