
/* Module sng: Single page */

/* Module smd: Sidebar module blocks (mostly inferred) */

.smd-block {
border: 1px solid #aaa;
margin-bottom: 1em;
padding: 0.8em;
}

.smd-title {
margin: 0 0 .4em;
padding: 0;
}

.smd-block.nonfree {
border-color: red;
}

.smd-block.libre {
border-color: green;
}

.smd-block.libre .donate .bitcoin-addr {
word-wrap: break-word;
font-family: monospace;
}
