/* Module tgc: Tag cloud */


ul.tgc-list li {
    display: inline;
    display: inline-block;
    list-style: none outside none;
    padding: 0.25em;
    line-height: 1.2;
}

ul.tgc-list a {
    text-decoration: none;
}

ul.tgc-list a:hover {
    text-decoration: underline;
}

.bracket-0 { font-size: x-small; }
.bracket-1 { font-size: small; }
.bracket-2 { font-size: normal; }
.bracket-3 { font-size: large; }
.bracket-4 { font-size: x-large; }
.bracket-5 { font-size: xx-large; }
.bracket-6 { font-size: xx-large; }
.bracket-7 { font-size: xx-large; }
