
/* Module std: Standard page layout */

.std-sitebar {
padding-bottom: .3em;
border-bottom: 1px solid #999;
}

.std-home {
font-size: 2.6em;
}

.std-home a {
text-decoration: none;
}

.std-home .logo {
vertical-align: text-bottom;
}

.std-page {
  margin: .3em 1em 1em;
}

.std-footer {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  border-top: 1px dotted #888;
  padding-top: .5em;
}

/* Layout-affecting text flow styles */

/* Apply to spans of text specified by the user (not the template.) */
.userdata {
  /* Keep user data directionality from interacting with template
     directionality */
  unicode-bidi: embed;
}
